# ignore all files in the .idea/ directory
.idea/*
/src/03_practitioner_bundle/03_feature_extraction/hdf5/
/src/03_practitioner_bundle/06_ensembles/models/
/src/03_practitioner_bundle/10_dogs_vs_cats/output/
/src/03_practitioner_bundle/11_googlenet/output/
